<% layout('layouts/boilerplate') %>
<h1>Movies Page</h1>
<table>
    <thead>
        <tr>
            <th><%= titles[3] %></th>
            <th><%= titles[6] %></th>
            <th><%= titles[8] %></th>
        </tr>
    </thead>

    <tbody>
        <% for (let movie of master_list) { %> 
            <tr>
                <td><a href="/movies/<%= movie["Const_IMDB"] %> "><%= movie["Title"] %></a></td>
                <td><%= movie["IMDb Rating"] %> </td>
                <td><%= movie["Year"] %> </td>
            </tr>
        <% } %> 
    </tbody>
</table>