<% layout('layouts/boilerplate') %>
<h1>Movies Page</h1>
<div>
    <h3>Search</h3>
    <form method="get">
        <input type="text" name="q" id="searchtext">
    </form>
<table>
    <thead>
        <tr>
            <th><%= titles[3] %></th>
            <th><%= titles[6] %></th>
            <th><%= titles[8] %></th>
        </tr>
    </thead>

    <tbody>
        <% for (let movie of display_list) { %> 
            <tr>
                <td><a href="/movies/<%= movie["Const_IMDB"] %> "><%= movie["Title"] %></a></td>
                <td><%= movie["IMDb Rating"] %> </td>
                <td><%= movie["Year"] %> </td>
            </tr>
        <% } %> 
    </tbody>
</table>
<% if (!isMasterList) { %>
    <a href="/master">Back to master list</a>
<% } %>
<script>
    let input = document.getElementById("searchtext")
    let form = document.querySelector("form")
    input.oninput = handleInput
    let currentSearchTerm = ""
    function handleInput(e) {
        currentSearchTerm = e.target.value
        form.action = '/movies/search?' + currentSearchTerm
        console.log(form.action)
    }


</script>