<% layout('layouts/boilerplate') %>
<h1>Movies Page</h1>
<div>
    <form method="get" action="/movies/search">
        <div>
            <label for="q">Search: </label>
            <input type="text" name="q" required>
        </div>
        
    </form>
    

    <div>
        <label for="sort">Sort by: </label>
        <select name="sort" id="sort">
            <% for (let i = 0; i < titles.length; i++) { %> 
                <option value="<%= titles[i] %>"><%= titles[i] %></option>
            <% } %> 
        </select>
        <button id="sortButton">Sort</button>
        <button id="sortAscDes">&#x2191&#x2193</button>
    </div>

    <div>
        <label for="filter">Filter by: </label>
        <select name="filter" id="filter">
            <% for (let i = 0; i < titles.length; i++) { %> 
                <option value="<%= titles[i] %>"><%= titles[i] %></option>
            <% } %> 
        </select>
        <select name="filterOperator" id="filterOperator"></select>
        <span id="filterSpan"></span>
        <button>Filter</button>
    </div>

    <form method="get" action="/master">
        <button>Clear All</button>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th><%= titles[3] %></th>
            <th><%= titles[6] %></th>
            <th><%= titles[8] %></th>
        </tr>
    </thead>

    <tbody id="tableDisplay">
        <% if (displayList.activeList) { %> 
            <% for (let movie of displayList.activeList) { %> 
                <tr>
                    <td><a href="/movies/<%= movie["Const_IMDB"] %> "><%= movie["Title"] %></a></td>
                    <td><%= movie["IMDb Rating"] %> </td>
                    <td><%= movie["Year"] %> </td>
                </tr>
            <% } %> 
        <% } %> 
    </tbody>
</table>
<% if (!isMasterList) { %>
    <a href="/master">Back to master list</a>
<% } %>
<script type='text/javascript'>
    let displayList = <%- JSON.stringify(displayList.activeList)%>
    let tableDisplay = document.getElementById('tableDisplay')
    let sortTitle = document.getElementById('sort')
    let sortButton = document.getElementById('sortButton')
    let sortAscDes = document.getElementById('sortAscDes')
    
    function updateTable() {
        tableDisplay.innerHTML = ''
        for (let i = 0; i < displayList.length; i++) {
            let newTr = document.createElement('tr')
            
            let newTd1 = document.createElement('td')
            let newTd2 = document.createElement('td')
            let newTd3 = document.createElement('td')
            let newA = document.createElement('a')

            newA.href = "/movies/" + displayList[i]['Const_IMDB']
            newA.innerHTML = displayList[i]['Title']
            newTd1.appendChild(newA)
            newTr.appendChild(newTd1)

            newTd2.innerHTML = displayList[i]['IMDb Rating']
            newTr.appendChild(newTd2)

            newTd3.innerHTML = displayList[i]['Year']
            newTr.appendChild(newTd3)

            tableDisplay.appendChild(newTr)
        }
    }

    sortButton.addEventListener('click', () => {
        

        function arrayMove(fromIndex, toIndex) {
                let element = displayList[fromIndex]
                displayList.splice(fromIndex, 1)
                displayList.splice(toIndex, 0, element)
        }


        function insertionSortStrings (sortTitle) {

            for (let i = 1; i < displayList.length; i++) {

                for (let j = i - 1; j >= 0; j--) {

                    // Lexicographical comparison of words
                    if (displayList[i][sortTitle].toLowerCase() > displayList[j][sortTitle].toLowerCase()) {
                        // Edge case - if already sorted in place
                        if (j === i - 1) {
                            break
                        }
                        else {
                            arrayMove(i, j+1)
                            break
                        }
                    }

                    // Edge case 
                    if (j === 0) {
                        arrayMove(i, 0)
                        break
                    }
                }
            }
        }

        function insertionSortNum (sortTitle) {

            for (let i = 1; i < displayList.length; i++) {

                for (let j = i - 1; j >= 0; j--) {

                    // Lexicographical comparison of words
                    if (displayList[i][sortTitle] > displayList[j][sortTitle]) {
                        // Edge case - if already sorted in place
                        if (j === i - 1) {
                            break
                        }
                        else {
                            arrayMove(i, j+1)
                            break
                        }
                    }

                    // Edge case 
                    if (j === 0) {
                        arrayMove(i, 0)
                        break
                    }
                }
            }
        }

        function insertionSortDate (sortTitle) {

            for (let i = 1; i < displayList.length; i++) {

                for (let j = i - 1; j >= 0; j--) {

                    // Conversion of dates to numeric
                    let iDate = Date.parse(displayList[i][sortTitle].slice(6, 10) + '-' + displayList[i][sortTitle].slice(3,5) + '-' + displayList[i][sortTitle].slice(0,2))
                    let jDate = Date.parse(displayList[j][sortTitle].slice(6, 10) + '-' + displayList[j][sortTitle].slice(3,5) + '-' + displayList[j][sortTitle].slice(0,2))


                    if (iDate > jDate) {
                        // Edge case - if already sorted in place
                        if (j === i - 1) {
                            break
                        }
                        else {
                            arrayMove(i, j+1)
                            break
                        }
                    }

                    // Edge case 
                    if (j === 0) {
                        arrayMove(i, 0)
                        break
                    }
                }
            }
        }       

        function sort (sortTitle) {
            // No sorting for list types
            if (['URL', 'Genres', 'Directors'].includes(sortTitle)) {
                return
            }

            // String sorts
            if (['Title', 'Title Type', 'Const_IMDB'].includes(sortTitle)) {
                // Insertion sort for strings
                insertionSortStrings(sortTitle)
                return
            }

            const titles = ['Date Rated', 'Release Date']

            // Number sort
            if (['Your Rating', 'IMDb Rating', 'Runtime (mins)', 'Year', 'Num Votes'].includes(sortTitle)) {
                insertionSortNum(sortTitle)
                return
            }

            // Dates sort
            if (['Date Rated', 'Release Date'].includes(sortTitle)) {
                insertionSortDate(sortTitle)
                return
            }
        }

        sort(sortTitle.value)
        updateTable()
    })

    sortAscDes.addEventListener('click', () => {
        displayList.reverse()
        updateTable()
    })

    let filterOperators = ['greater than', 'less than', 'equal to', 'not equal to', 'between', 'not between', 'greater than or equal to', 'less than or equal to']
    let filterOperatorSelector = document.getElementById('filterOperator')

    for (let i = 0; i < filterOperators.length; i++) {
        let newSelector = document.createElement('option')
        newSelector.value = filterOperators[i]
        newSelector.innerHTML = filterOperators[i]

        filterOperatorSelector.appendChild(newSelector)
    }

    let filterOperator = document.getElementById('filterOperator')
    let filterSpan = document.getElementById('filterSpan')
    let filter = document.getElementById('filter')

    filterOperator.addEventListener('change', () => {
        while (filterSpan.firstChild) {
            filterSpan.removeChild(filterSpan.firstChild)
        }

        let filterSelector = document.createElement('select')
        filterSelector.id = "filterSelector"
        filterSpan.appendChild(filterSelector)

        if (['between', 'not between'].includes(filterOperator.value)) {
            let filterSelector2 = document.createElement('select')
            filterSelector2.id = "filterSelector2"
            filterSpan.appendChild(filterSelector2)
        }




        for (let i = 0; i < displayList.length; i++) {
            let newOption = document.createElement('option')
            newOption.value = 'filter-' + displayList[i].Const_IMDB
            newOption.innerHTML = displayList[i][filter.value]
            filterSelector.appendChild(newOption)
            if (['between', 'not between'].includes(filterOperator.value)) {
                filterSelector2.appendChild(newOption.cloneNode(true))
            }
        }
    })

</script>