<% layout('layouts/boilerplate') %>
<h1>Movies Page</h1>
<div>
    <form method="get" action="/movies/search">
        <div>
            <label for="q">Search: </label>
            <input type="text" name="q">
        </div>
        
    </form>
    <form action="/master">
        <button>Clear Filters</button>
    </form>
<table>
    <thead>
        <tr>
            <th><%= titles[3] %></th>
            <th><%= titles[6] %></th>
            <th><%= titles[8] %></th>
        </tr>
    </thead>

    <tbody>
        <% for (let movie of displayList) { %> 
            <tr>
                <td><a href="/movies/<%= movie["Const_IMDB"] %> "><%= movie["Title"] %></a></td>
                <td><%= movie["IMDb Rating"] %> </td>
                <td><%= movie["Year"] %> </td>
            </tr>
        <% } %> 
    </tbody>
</table>
<% if (!isMasterList) { %>
    <a href="/master">Back to master list</a>
<% } %>
<script>

    let filter = document.getElementsByName("filter")[0]
    // for (let i = 0; i < )

</script>