<% layout('layouts/boilerplate') %>
<h1>Movies Page</h1>

<!-- Search/Sort/Filter Bar -->
<div>

    <!-- Search -->
    <form method="get" action="/movies/search">
        <div>
            <label for="q">Search: </label>
            <input type="text" name="q" required>
            <button>Search</button>
        </div>
        
    </form>
    
    <!-- Sort -->
    <div>
        <label for="sort">Sort by: </label>
        <select name="sort" id="sort">
            <% for (let i = 0; i < titles.length; i++) { %> 
                <% if (!['URL', 'Genres', 'Directors'].includes(titles[i])) { %> 
                    <option value="<%= titles[i] %>"><%= titles[i] %></option>
                <% } %> 
            <% } %> 
        </select>
        <button id="sortButton">Sort</button>
        <button id="sortAscDes">&#x2191&#x2193</button>
    </div>

    <!-- Filter -->
    <div>
        <label for="filter">Filter by: </label>
        <select name="filter" id="filter">
            <% for (let i = 0; i < titles.length; i++) { %> 
                <% if (!['URL'].includes(titles[i])) { %> 
                    <option value="<%= titles[i] %>"><%= titles[i] %></option>
                <% } %> 
            <% } %> 
        </select>
        <select name="filterOperator" id="filterOperator"></select>
        <span id="filterSpan"></span>
        <button id="filterButton">Filter</button>
    </div>

    <div id="filterClose">
    </div>
    <!-- Clear filters -->
    <form method="get" action="/master">
        <button>Clear All</button>
    </form>
</div>

<!-- Display of the movies in table form -->
<table>
    <thead>
        <tr>
            <th><%= titles[3] %></th>
            <th><%= titles[6] %></th>
            <th><%= titles[8] %></th>
        </tr>
    </thead>

    <tbody id="tableDisplay">
    </tbody>
</table>


<%- include("./scripts/variables/displayList") %> 
<%- include("./scripts/variables/titles") %> 

<%- include("./scripts/sorting") %> 
<%- include("./scripts/filtering") %> 

<script type='text/javascript'>

    let tableDisplay = document.getElementById('tableDisplay')
    
    
    // Updates the table after sort/filter
    function updateTable() {

        // Clear table
        tableDisplay.innerHTML = ''

        for (let i = 0; i < displayList.length; i++) {
            // Creating variables of the table elements
            let newTr = document.createElement('tr')
            let tdTitle = document.createElement('td')
            let tdIMDBRating = document.createElement('td')
            let tdYear = document.createElement('td')
            let newA = document.createElement('a')

            // Creating the Title column
            newA.href = "/movies/" + displayList[i]['Const_IMDB']
            newA.innerHTML = displayList[i]['Title']
            tdTitle.appendChild(newA)
            newTr.appendChild(tdTitle)

            // Creating the IMDB Rating column
            tdIMDBRating.innerHTML = displayList[i]['IMDb Rating']
            newTr.appendChild(tdIMDBRating)

            // Creating Year column
            tdYear.innerHTML = displayList[i]['Year']
            newTr.appendChild(tdYear)

            // Append the row to the table
            tableDisplay.appendChild(newTr)
        }
    }

    // Onload functions
    window.onload = function () {
        updateTable()
    }

</script>