<% layout('layouts/boilerplate') %>
<h1><%= movie.Title %> </h1>
<table>
<% for (let i = 0; i < titles.length; i++) { %> 
    <tr>
        <td><%= titles[i] %> </td>
        <% if (titles[i] === "URL") { %>
            <td><a href="<%= movie[titles[i]] %>"><%= movie[titles[i]] %></a></td>
        <% } else { %> 
            <td><%= movie[titles[i]] %> </td>
        <% } %> 
    </tr>
<% } %> 
</table>
<a href="/movies">Back to Master List</a>