<% layout('layouts/boilerplate') %>
<h1><%= movie.Title %> </h1>
<table>
<% for (let i = 0; i < titles.length; i++) { %> 
    <tr>
        <td><%= titles[i] %> </td>
        <% if (titles[i] === "URL") { %>
            <td><a href="<%= movie[titles[i]] %>"><%= movie[titles[i]] %></a></td>
        <% } else { %> 
            <td><%= movie[titles[i]] %> </td>
        <% } %> 
    </tr>
<% } %> 
</table>
<div>
    <p><b><i>Appears in the following lists: </i></b></p>
    <ul>
        <% for (let i = 0; i < displayList.length; i++) { %>            
            <% for (let j = 0; j < displayList[i]['movies'].length; j++) { %> 
                <% if (movie['Const_IMDB'] === displayList[i]['movies'][j]['Const_IMDB']) { %> 
                    <li><a href="/created_lists/<%= displayList[i]['id'] %>"><%= displayList[i]['listName'] %></a></li>
                <% } %> 
            <% } %>
        <% } %> 
    </ul>

</div>
<a href="/movies">Back to Master List</a>