<% layout('layouts/boilerplate') %>
<h1><%= selectedList["listName"] %> </h1>
<ol>
    <% for (let i = 0; i < selectedList["movies"].length; i++) { %> 
        <li><a href="/movies/<%= selectedList["movies"][i]["Const_IMDB"] %>"><%= selectedList["movies"][i]["Title"] %></a></li>
    <% } %> 
</ol>
<a href="/created_lists/<%= selectedList["id"] %>/edit">Edit List</a>
<form method="post" action="/created_lists/<%= selectedList["id"] %>?_method=DELETE" >
    <button>Delete</button>
</form>
<a href="/created_lists%>">Back to created lists</a>
